@model Clinic.Models.ScheduleDay

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ScheduleDay</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.day)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.day)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.startHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.startHour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.endHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endHour)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
