@model IEnumerable<Clinic.Models.ScheduleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Docots Schedules</h1>

<p>
    <a asp-action="Create">Schedule New Day</a>
</p>

<form asp-controller="ScheduleDays" asp-action="Index">
    <div class="row">
        <label class="control-label">Doctor</label>
        <div class="d-flex w-25">
            <select name="doctorId" asp-items="@(new SelectList(ViewBag.Doctors, "Value", "Text"))" class="form-control mr-3"></select>
            <input type="submit" value="Submit" class="btn btn-primary ml-3" />
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoctorUsername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.schedule.day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.schedule.startHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.schedule.endHour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorUsername)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.schedule.day)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.schedule.startHour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.schedule.endHour)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.schedule.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
